html {
    height:  100%;
    width: 100%;
}
body {

    
    background-image: url(images/backhroundd\ image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 4000px;

}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
header {

   
    height: 116px;
    width: 1000px;
    text-align: center;
   
  
}
nav {

    background-color: rgba(0, 0, 0, 0.332);
    width: 1000px;
    text-align: center;
    padding-top: 20PX;
    padding-bottom: 20PX;
}
main{

   
    height: 400px;
    width: 980px;
    text-align: center; 
    padding-top: 80px;
    padding-left: 20px;
   margin-top: 80px;


} footer {

    background-color: rgba(0, 0, 0, 0.544);
    height: 40px;
    width: 1000px;
    margin-top: 30px;
    padding-bottom: 50x;
    text-align: center;
    
}
.picture1 {

    width: 25px;
    height: 25px;
} 
img {
    max-width: 250px;
    max-height: 250px;

} h1 {
  font-size: 50px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  text-align: center;
}
 p1 {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
    
    
  }
  p2 {
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;

  }
  a {
    color:white;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
  }
nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
footer p2 {
    padding-left: 10px;
    padding-right: 10px;
}
 form {

text-align: center;
margin-top: 200px;
background-image: url(images/background\ image\ 2.jpeg)
 }
h4 {

    text-align: center;
} 
form label{

    color: white;
    font-size: 24px;
} 
p {
    color: white;

}